GEMINI_API_KEY=
AFRICAS_TALKING_API_KEY=
AFRICAS_TALKING_USERNAME=
FIREBASE_PROJECT_ID=null
FIREBASE_APP_ID=null
FIREBASE_API_KEY=null
FIREBASE_AUTH_DOMAIN=null
FIREBASE_FIRESTORE_DATABASE_ID=null
FIREBASE_STORAGE_BUCKET=null
FIREBASE_MESSAGING_SENDER_ID=null
FIREBASE_MEASUREMENT_ID=null
